*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* HEADER */
header{
  background-color: rgb(41, 39, 39);
  width: 100%;
  height: 80px;
  position: fixed;
}

header nav div{
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}

.bt-head{
border-radius: 15px;
padding: 8px 40px;
color: white;
background-color: rgb(41, 39, 39);
}

/* MAIN SIDEBAR */
.sidebar{
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

main div div{
  width: 70%;
  padding-left: 10px;
}

/* MAIN */
