*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body{
  height: 100vh;
  overflow-x: hidden;
  background-color: rgb(17, 18, 35)
}

/* HEADER */
header{
  background-color: #111;
  opacity: 0.9;
  width: calc(100% - 180px);
  height: 80px;
  position: fixed;
  top: 0%;
  right: 0%;
}

header nav div{
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}

.bt-head{
border-radius: 15px;
padding: 8px 40px;
color: white;
background-color: rgb(41, 39, 39);
}

/* MAIN SIDEBAR */
/* .sidebar{
  height: 100%;
  width: 180px;
   position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
} */

main{
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: calc(100% - 180px);
}



.sidebar{
  display: flex;
  flex-direction: column;
  background-color: #111;
  height: 100%;
  width: 180px;
}

.sidebar img{
  padding: 20px 10px;
  width: 100%;
}


/* MAIN */
main{
height: calc(100% - 70px);
background-color: rgb(17, 18, 35);
}

.menu-centrale ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-bottom: 70px;
}

.menu-centrale ul li{
  justify-content: center;
}

.menu-centrale ul li a{
  text-decoration: none;
  padding: 5px;
  color: gray;
  font-size: 0.8rem;
}


.sottotitolo{
  color: white;
  display: flex;
  justify-content: left;
}


/* FOOTER */
footer{
  height: 70px;
  background-color: rgb(67, 67, 67);
}